:root{
	font-size: 16px;
}

.btn{
	background-color: #ccffe6;
	border-color: #f2f2f2;
	font-size: 1rem;
	font-style: bold;
	padding: 10px;
	border-radius: 5px;
	color: grey;
}

.modal{
	display: block;
	z-index: 1000;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.4);
	overflow-x: hidden;
	overflow-y: auto;
}

.modal-inner-div{
	margin: 50px auto;
	padding: 22px;
	position: relative;
	max-width: 31.2rem;
	-ms-transform: translate(0,0); /* IE 9 */
    -webkit-transform: translate(0,0); /* Safari */
    transform: translate(0,0);
}

.content{
	position: relative;
	width: 100%;
	background-color: white;
	border:solid;
	border-color:lightgrey;
	border-width: 2px;
	border-radius: 5px;
}

.modalheader{
	display: flex;
	justify-content: space-between;
	padding: 1.3rem;
	font-family: Arial;
	font-size: 1.5rem;
	border-bottom:solid;
	border-color:lightgrey;
	border-width: 1px;
}

.modalbody{
	display: flex;
	padding: 1.3rem;
	font-family: Arial;
	font-size: 1.2rem;
	border-bottom:solid;
	border-color:lightgrey;
	border-width: 1px;
}

.modalbody span{
	margin-bottom: 18px;
}

.modalfooter{
	display: flex;
	flex-direction: row-reverse;
	padding: 1.3rem;
	font-family: Arial;
}

.modalfooter .close{
	background-color: grey;
	border-color: #f2f2f2;
	border: none;
	border-radius: 5px;
	color: white;
	font-size: 1.2rem;
	padding: 10px;
}

.close{
	background-color: white;
	border-color: #f2f2f2;
	border: none;
}

.close img{
	width: 1rem;

}

.head{
	font-size: 2rem;
	padding: 20px 20px 40px 20px;
}



